In [53]:
# nome
nome <- "Hugo"
nome.completo <- "Hugo Cristo"
numero.texto <- "123"

print(nome)
print(nome.completo)
print(numero.texto)

[1] "Hugo"
[1] "Hugo Cristo"
[1] "123"

In [54]:
# números
numero <- 123
numero + 10

[1] 133

In [55]:
# identifica o tipo dado
print(class(nome))
print(class(numero.texto))
print(class(numero))

[1] "character"
[1] "character"
[1] "numeric"

In [56]:
# somando texto com número (erro)
#numero.texto + 10

In [57]:
# converte texto em número
numero.convertido <- as.numeric(numero.texto)

In [58]:
# verdadeiro ou false
resultado <- 5 > 3
resultado

[1] TRUE

In [59]:
# classe lógica
class(resultado)

[1] "logical"

In [60]:
# condicional
if (5 < 3) {
  print("verdadeiro")
} else {
  print("falso")
}

[1] "falso"

In [61]:
# comparação de texto
if (nome == "hugo") {
  print("Sim, é o Hugo")
} else {
  print("Não é o Hugo")
}

[1] "Não é o Hugo"

In [62]:
# conversão de texto para minúsculass
tolower(nome)

[1] "hugo"

In [63]:
# conversão para maiúsculas
toupper(nome)

[1] "HUGO"

In [64]:
# vetor de nomes
nomes <- c(
  "Fernanda",
  "Jaqueline",
  "Dara",
  "Isabela",
  "Jadeir",
  "Gabriella",
  "Valentina",
  "Ana Clara",
  "Hugo Cristo"
)

In [65]:
# acessando posições dos vetores
print(nomes[8])

[1] "Ana Clara"

In [66]:
# altera apenas
nomes[8] <- toupper(nomes[8])

In [67]:
# usando índices
nomes[2:4] <- toupper(nomes[2:4])
nomes[c(2,3,4)] <- toupper(nomes[c(2,3,4)])
# usando variável adicional
lista <- c(2,3,4)
nomes[lista] <- toupper(nomes[lista])

In [68]:
# altera todos de uma vez
nomes <- toupper(nomes)

In [69]:
# vetor de números
idades <- c(19, 25, 24, 24, 25, 26, 22, 20, 46)

In [70]:
# cria planilha nomes+idades
dados <- data.frame(
  "nome"=nomes,
  "idade"=idades
)

In [71]:
# acessando o data.frame
dados$idade < 22

[1]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

In [72]:
# converte o vetor v/f em posições
which(dados$idade < 22)

[1] 1 8

In [73]:
# usa posições para exibir nomes
# dados[linha,coluna]
dados[which(dados$idade < 22),"nome"]

[1] "FERNANDA"  "ANA CLARA"

In [74]:
# calcula aposentadoria
dados$falta_para_aposentar <- NA
dados$falta_para_aposentar <- 60 - dados$idade

In [75]:
# remove coluna
dados$nome <- NULL